<!--<div class="wrapper">-->

<!--  &lt;!&ndash; Content Wrapper. Contains page content &ndash;&gt;-->
<!--  <div class="content-wrapper">-->
<!--    &lt;!&ndash; Content Header (Page header) &ndash;&gt;-->
<!--    <div class="content-header">-->
<!--      <div class="container-fluid">-->
<!--        <div class="row mb-2">-->
<!--          <div class="col-sm-6">-->
<!--            <h1 class="m-0">Dashboard</h1>-->
<!--          </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--          <div class="col-sm-6">-->
<!--            <ol class="breadcrumb float-sm-right">-->
<!--              <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--              <li class="breadcrumb-item active">Dashboard v1</li>-->
<!--            </ol>-->
<!--          </div>&lt;!&ndash; /.col &ndash;&gt;-->
<!--        </div>&lt;!&ndash; /.row &ndash;&gt;-->
<!--      </div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /.content-header &ndash;&gt;-->

<!--    &lt;!&ndash; Main content &ndash;&gt;-->
<!--    <section class="content">-->
<!--      <div class="container-fluid">-->
<!--        &lt;!&ndash; Small boxes (Stat box) &ndash;&gt;-->
<!--        <div class="row">-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-info">-->
<!--              <div class="inner">-->
<!--                <h3>150</h3>-->

<!--                <p>Online Orders</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-bag"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-success">-->
<!--              <div class="inner">-->
<!--                <h3>53<sup style="font-size: 20px"></sup></h3>-->

<!--                <p>Total Events</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-stats-bars"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-warning">-->
<!--              <div class="inner">-->
<!--                <h3>44</h3>-->

<!--                <p>Total Users</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-person-add"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--          <div class="col-lg-3 col-6">-->
<!--            &lt;!&ndash; small box &ndash;&gt;-->
<!--            <div class="small-box bg-danger">-->
<!--              <div class="inner">-->
<!--                <h3>65</h3>-->

<!--                <p>Shop Orders</p>-->
<!--              </div>-->
<!--              <div class="icon">-->
<!--                <i class="ion ion-pie-graph"></i>-->
<!--              </div>-->
<!--              &lt;!&ndash;                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; ./col &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; /.row &ndash;&gt;-->
<!--        &lt;!&ndash; Main row &ndash;&gt;-->
<!--        <div class="row">-->
<!--&lt;!&ndash;          <owl-carousel-o [options]="customOptions" style="width: 100%">&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template carouselSlide>&ndash;&gt;-->
<!--&lt;!&ndash;              <img style="height: 600px" src="../../assets/dash1.png" />&ndash;&gt;-->
<!--&lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template carouselSlide&ndash;&gt;-->
<!--&lt;!&ndash;            ><img style="height: 600px" src="../../assets/dash2.png"&ndash;&gt;-->
<!--&lt;!&ndash;            /></ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template carouselSlide&ndash;&gt;-->
<!--&lt;!&ndash;            ><img&ndash;&gt;-->
<!--&lt;!&ndash;              style="height: 600px"&ndash;&gt;-->
<!--&lt;!&ndash;              src="../../assets/dash3.png"&ndash;&gt;-->
<!--&lt;!&ndash;            /></ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;            <ng-template carouselSlide&ndash;&gt;-->
<!--&lt;!&ndash;            ><img&ndash;&gt;-->
<!--&lt;!&ndash;              style="height: 600px"&ndash;&gt;-->
<!--&lt;!&ndash;              src="../../assets/shop_five_l.png"&ndash;&gt;-->
<!--&lt;!&ndash;            /></ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;          </owl-carousel-o>&ndash;&gt;-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; /.content &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; /.content-wrapper &ndash;&gt;-->
<!--  <footer class="main-footer">-->
<!--    <strong>Copyright &copy; 2021 <a href="https://adminlte.io">CafeMambo</a>.</strong>-->
<!--    All rights reserved.-->
<!--    <div class="float-right d-none d-sm-inline-block">-->
<!--      <b>Version</b> 3.1.0-->
<!--    </div>-->
<!--  </footer>-->

<!--  &lt;!&ndash; Control Sidebar &ndash;&gt;-->
<!--  <aside class="control-sidebar control-sidebar-dark">-->
<!--    &lt;!&ndash; Control sidebar content goes here &ndash;&gt;-->
<!--  </aside>-->
<!--  &lt;!&ndash; /.control-sidebar &ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash; ./wrapper &ndash;&gt;-->
