

<div class="tm-top-a-box tm-full-width  ">

  <div class="uk-container uk-container-center">

    <owl-carousel-o [options]="customOptions" style="width: 100%">
      <ng-template carouselSlide>
        <img style="height: 800px" src="../../assets/images/dash2.jpg" />
      </ng-template>
      <ng-template carouselSlide
      ><img style="height: 800px" src="../../assets/images/1.jpg"
      /></ng-template>
      <ng-template carouselSlide
      ><img
        style="height: 800px"
        src="../../assets/images/2.jpg"
      /></ng-template>
      <ng-template carouselSlide
      ><img
        style="height: 800px"
        src="../../assets/images/3.jpg"
      /></ng-template>
    </owl-carousel-o>
  </div>
</div>

<div class="tm-top-b-box tm-full-width  ">
  <div class="uk-container uk-container-center">
    <section id="tm-top-b" class="tm-top-b uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

      <div class="uk-width-1-1">
        <div class="uk-panel">

          <div class="va-latest-wrap">
            <div class="uk-container uk-container-center">
              <div class="va-latest-top">
                <h3>Latest <span>Matches</span></h3>

              </div>
            </div>
            <owl-carousel-o [options]="customOptions" style="width: 100%">
              <ng-template carouselSlide *ngFor="let pool of progressPoolList">
                <div class="va-latest-middle uk-flex uk-flex-middle">
                  <div class="uk-container uk-container-center">
                    <div class="uk-grid uk-flex uk-flex-middle">
                      <div class="uk-width-2-12 center">
                        <a href="match-single.html">
                          <!--                          <img src="images/team-ava.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">-->
                        </a>
                      </div>
                      <div class="uk-width-3-12 name uk-vertical-align">
                        <div class="wrap uk-vertical-align-middle">
                          {{pool.teamOneName}}
                        </div>
                      </div>
                      <div class="uk-width-2-12 score">
                        <div class="title">{{pool.name}}</div>
                        <div class="table">
                          <div class="left">{{pool.teamOneCount}}</div>
                          <div class="right">{{pool.teamTwoCount}}</div>
                          <div class="uk-clearfix"></div>
                        </div>
                      </div>
                      <div class="uk-width-3-12 name alt uk-vertical-align">
                        <div class="wrap uk-vertical-align-middle">
                          {{pool.teamTwoName}}
                        </div>
                      </div>
                      <div class="uk-width-2-12 center">
                        <a href="match-single.html">
                          <!--                          <img src="images/team-ava1.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">-->
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </ng-template>
            </owl-carousel-o>

            <div class="uk-container uk-container-center">
              <div class="va-latest-bottom">
                <div class="uk-grid">
                  <div class="uk-width-8-12 uk-container-center text">
                    <p>All created match bool lead according to the user interested sports and nearest city. Clicking more you can go to the match pool list and join with the poll</p>
                  </div>
                </div>

                <div class="uk-grid">
                  <div class="uk-width-1-1">
                    <div class="btn-wrap uk-container-center">
                      <a class="read-more" (click)="naviGateMatchPool()">More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="tm-top-c-box tm-full-width  home-about">
            <div class="uk-container uk-container-center">
              <section id="tm-top-c" class="tm-top-c uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1 uk-width-large-1-2">
                  <div class="uk-panel">
                    <div class="va-about-wrap clearfix uk-cover-background uk-position-relative">
                      <div class="va-about-text">
                        <div class="title">About <span>Call Team</span>
                        </div>
                        <p>Call Team is the best place for the team up with other players and build match pool, create tournaments, players review, stadiums booking, online payments</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="uk-width-1-1 uk-width-large-1-2">
                  <div style="min-height: 497px;" class="uk-panel">
                    <div class="trainers-module tm-trainers-slider ">
                      <div class="trainer-wrapper">
                        <div data-uk-slideset="{default: 1, animation: 'fade', duration: 400}">
                          <div class="trainer-top">
                            <h3>The Solution</h3>
                          </div>
                          <ul class="uk-grid uk-slideset uk-grid-width-1-1">
                            <li class="uk-active" style="">
                              <div class="img-wrap"><img src="./assets/images/healthsport.png" alt="">
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="tm-top-d-box  ">
            <div class="uk-container uk-container-center">
              <section id="tm-top-d" class="tm-top-d uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                <div class="uk-width-1-1">
                  <div class="uk-panel">
                    <div class="donate-wrap">
                      <div class="donate-inner">
                        <h3><span>Tour</span>nament</h3>
                        <div class="uk-grid">
                          <div class="uk-width-8-10 uk-push-1-10 intro-text">
                            We have the opportunity to create a tournament for our players. Here players can join the tournament and opt-out as a normal flow.
                          </div>
                        </div>
                        <form class="teamdonate-form" method="post" target="paypal">
                          <br>
                          <br>
                          <button class="donate-btn" type="submit" name="submit"><span>Create</span>
                          </button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>

          <div class="tm-top-f-box tm-full-width  va-main-our-news">
            <div class="uk-container uk-container-center">
              <section id="tm-top-f" class="tm-top-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1">
                  <div class="uk-panel">
                    <div class="uk-container uk-container-center">
                      <div class="uk-grid uk-grid-collapse" data-uk-grid-match="">
                        <div class="uk-width-1-1">
                          <div class="our-news-title">
                            <h3>Our <span>AIM</span></h3>
                          </div>
                          <div class="our-news-text">The aim of this system is to direct people to sport and
                            produce healthy people in Sri Lanka.</div>
                        </div>

                        <article class="uk-width-large-1-2 uk-width-medium-1-1 uk-width-small-1-1 our-news-article" data-uk-grid-match="">
                          <div class="img-wrap uk-cover-background uk-position-relative" style="background-image: url(assets/images/2.jpg); min-height: 280px;">


                            <a href="news-single.html"></a>
                            <img class="uk-invisible" src="assets/images/3.jpg" alt="">

                          </div>s
                          <div style="min-height: 280px;" class="info">
                            <div class="date">
                            </div>
                            <div class="name">
                              <h4>
                                <a >Experience with new model sport collaboration</a>
                              </h4>
                              <h4>
                                <a>People engaging with sports</a>
                              </h4>

                            </div>
                          </div>

                        </article>


                        <article class="uk-width-large-1-2 uk-width-medium-1-1 uk-width-small-1-1 our-news-article" data-uk-grid-match="">
                          <div class="img-wrap uk-cover-background uk-position-relative" style="background-image: url(assets/images/1720923.jpg); min-height: 280px;">


                            <a href="news-single.html"></a>
                            <img class="uk-invisible" src="assets/images/1720923.jpg" alt="">

                          </div>
                          <div style="min-height: 280px;" class="info">
                            <div class="date">
                            </div>
                            <div class="name">
                              <h4>
                                <a >Be a better team player</a>
                              </h4>
                            </div>
                            <div class="name">
                              <h4>
                                <a >Be healthy mentally and physically</a>
                              </h4>
                            </div>
                            <div class="name">
                              <h4>
                                <a >Buildup strong communication</a>
                              </h4>
                            </div>
                          </div>

                        </article>

                      </div>
                    </div>


                  </div>
                </div>
              </section>
            </div>
          </div>


          <div class="tm-top-g-box tm-full-width  ">
            <div class="uk-container uk-container-center">
              <section id="tm-top-g" class="tm-top-g uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1">
                  <div class="uk-panel">

                    <div class="gallery-title">
                      <div class="uk-container uk-container-center tt-gallery-top-main">
                        <div class="uk-grid" data-uk-grid-match="">
                          <div class="uk-width-3-10 title">Gallery</div>
                          <div class="uk-width-7-10 text"></div>
                        </div>
                      </div>
                    </div>
                    <div class="uk-sticky-placeholder">
                      <div style="margin: 0px;" class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                        <div class="uk-container uk-container-center">
                        </div>
                      </div>
                    </div>

                    <div id="boundary">

                      <div class="uk-grid uk-grid-collapse grid" data-uk-grid-match="">


                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item article-slider tt_c26e2589e25045ad516b5bc37d18523a ">
                          <owl-carousel-o [options]="customOptions" style="height: 30%">
                            <ng-template carouselSlide>
                              <img style="height: 300px" src="../../assets/images/dash2.jpg" />
                            </ng-template>
                            <ng-template carouselSlide
                            ><img style="height: 300px" src="../../assets/images/1.jpg"
                            /></ng-template>
                            <ng-template carouselSlide
                            ><img
                              style="height: 300px"
                              src="../../assets/images/2.jpg"
                            /></ng-template>
                            <ng-template carouselSlide
                            ><img
                              style="height: 300px"
                              src="../../assets/images/3.jpg"
                            /></ng-template>
                          </owl-carousel-o>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c26e2589e25045ad516b5bc37d18523a ">
                          <div class="gallery-album">
                            <a href="assets/images/03f1869954e6e557b8ac56b508030a3b.jpg" data-uk-lightbox="{group:'my-group'}" class="img-0">
                              <img src="assets/images/03f1869954e6e557b8ac56b508030a3b.jpg" alt="">
                            </a>
                            <a href="assets/images/6a987145d42263cbfc9724ee737b1d60.jpg" data-uk-lightbox="{group:'my-group'}" class="img-1">
                              <img src="assets/images/6a987145d42263cbfc9724ee737b1d60.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Volleyball </div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_6081becaf04f5a1455407d73e09bca13 ">
                          <div class="gallery-album">
                            <a href="assets/images/8cc1994dde069571bfe5edf1e7822185.jpg" data-uk-lightbox="{group:'my-group1'}" class="img-0">
                              <img src="assets/images/8cc1994dde069571bfe5edf1e7822185.jpg" alt="">
                            </a>
                            <a href="assets/images/133dc45d6c6a6ee8ace3fd6c18f0c79e.jpg" data-uk-lightbox="{group:'my-group1'}" class="img-1">
                              <img src="assets/images/133dc45d6c6a6ee8ace3fd6c18f0c79e.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Hockey </div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_6081becaf04f5a1455407d73e09bca13 ">
                          <div class="gallery-album">
                            <a href="assets/images/62448a01125cebccfa3512491a345da9.jpg" data-uk-lightbox="{group:'my-group2'}" class="img-0">
                              <img src="assets/images/62448a01125cebccfa3512491a345da9.jpg" alt="">
                            </a>
                            <a href="assets/images/14f0c92ade7d754a98d2b6ddd4fe560a.jpg" data-uk-lightbox="{group:'my-group2'}" class="img-1">
                              <img src="assets/images/14f0c92ade7d754a98d2b6ddd4fe560a.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Hockey </div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c71a18083d9e74b4a5c5d8d9a17d68d0 ">
                          <div class="gallery-album">
                            <a href="assets/images/c9e61645f3f740197afa7fb17bf3d3ad.jpg" data-uk-lightbox="{group:'my-group3'}" class="img-0">
                              <img src="assets/images/c9e61645f3f740197afa7fb17bf3d3ad.jpg" alt="">
                            </a>
                            <a href="assets/images/a46d465cb53412b43c73d9c793083875.jpg" data-uk-lightbox="{group:'my-group3'}" class="img-1">
                              <img src="assets/images/a46d465cb53412b43c73d9c793083875.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Basketball </div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c71a18083d9e74b4a5c5d8d9a17d68d0 ">
                          <div class="gallery-album">
                            <a href="assets/images/d5d9d0e4068673aee603250d1eb43af8.jpg" data-uk-lightbox="{group:'my-group4'}" class="img-0">
                              <img src="assets/images/d5d9d0e4068673aee603250d1eb43af8.jpg" alt="">
                            </a>
                            <a href="assets/images/6479eff8244e3eeb793efa29559f45f7.png" data-uk-lightbox="{group:'my-group4'}" class="img-1">
                              <img src="assets/images/6479eff8244e3eeb793efa29559f45f7.png" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Basketball </div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_449a5f6d01d5f416810d04b4df596b6a tt_c71a18083d9e74b4a5c5d8d9a17d68d0 tt_ea9d8d12fefde9e2f9c4631a76504ce7 ">
                          <div class="gallery-album">
                            <a href="assets/images/49633121e88e2125a7069937885d5163.jpg" data-uk-lightbox="{group:'my-group5'}" class="img-0">
                              <img src="assets/images/49633121e88e2125a7069937885d5163.jpg" alt="">
                            </a>
                            <a href="assets/images/4510067e63319389d8587e2cb12d4346.jpg" data-uk-lightbox="{group:'my-group5'}" class="img-1">
                              <img src="assets/images/4510067e63319389d8587e2cb12d4346.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"> </div>
                              <div class="sub-title">Foot Ball</div>
                            </div>
                          </div>
                        </div>

                        <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 grid-item tt_c26e2589e25045ad516b5bc37d18523a ">
                          <div class="gallery-album">
                            <a href="assets/images/fb04791e435ada34da98c5ca40642149.jpg" data-uk-lightbox="{group:'my-group6'}" class="img-0">
                              <img src="assets/images/fb04791e435ada34da98c5ca40642149.jpg" alt="">
                            </a>
                            <a href="assets/images/20e17d247276908ce9c879c785afad72.jpg" data-uk-lightbox="{group:'my-group6'}" class="img-1">
                              <img src="assets/images/20e17d247276908ce9c879c785afad72.jpg" alt="">
                            </a>
                            <div class="titles">
                              <div class="title"></div>
                              <div class="sub-title">Foot Ball</div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </section>
            </div>
          </div>


          <div class="tm-bottom-a-box tm-full-width  ">
            <div class="uk-container uk-container-center">
              <section id="tm-bottom-a" class="tm-bottom-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                <div class="uk-width-1-1">
                  <div class="uk-panel tt-achievments-wrap">
                    <div class="uk-grid uk-grid-collapse">
                      <div class="uk-width-large-4-10 uk-width-medium-1-1 achievments-block">
                        <div class="our-awards-main-wrap">
                          <div class="uk-slidenav-position our-awards" data-uk-slider="{autoplay:true, autoplayInterval:7000}">
                            <div class="our-awards-main-title">


                            </div>
                            <div class="uk-slider-container">
                              <ul class="uk-slider uk-grid uk-grid-width-large-1-2">
                                <div class="img-wrap"><img draggable="false" src="assets/images/3.jpg" alt=""></div>
                                <li>


                                  <div class="text">2014 world cup champion</div>
                                </li>

                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="uk-width-large-5-10 uk-width-medium-1-1 achievments-block uk-push-1-10">
                        <div class="achievments-inner">
                          <div class="our-awards-main-title">
                            <h2>Target achievements</h2>
                          </div>
                          <div class="uk-grid">
                            <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                              <div class="item">
                                <div class="icon"><img src="assets/images/stat-icon.png" alt="">
                                </div>
                                <div class="info">
                                  <div class="number"></div>
                                  <div class="text">Sports</div>
                                </div>
                              </div>
                            </div>
                            <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                              <div class="item">
                                <div class="icon"><img src="assets/images/stat-icon1.png" alt="">
                                </div>
                                <div class="info">
                                  <div class="number"></div>
                                  <div class="text">Players</div>
                                </div>
                              </div>
                            </div>
                            <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                              <div class="item">
                                <div class="icon"><img src="assets/images/stat-icon2.png" alt="">
                                </div>
                                <div class="info">
                                  <div class="number"></div>
                                  <div class="text">Payments</div>
                                </div>
                              </div>
                            </div>
                            <div class="uk-width-large-2-4 uk-width-medium-1-2 uk-width-small-1-2">
                              <div class="item">
                                <div class="icon"><img src="assets/images/stat-icon3.png" alt="">
                                </div>
                                <div class="info">
                                  <div class="number">8</div>
                                  <div class="text">Winners</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>


        </div>
      </div>
    </section>
  </div>
</div>


