<div class="preloader" *ngIf="loading">
  <div class="loader"></div>
</div>
<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
  <div class="uk-container uk-container-center">
    <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

      <div class="uk-width-1-1 uk-row-first">
        <div class="uk-panel">
          <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('assets/images/head-bg.jpg');">
            <img class="uk-invisible" src="assets/images/head-bg.jpg" alt="" height="290" width="1920">
            <div class="uk-position-cover uk-flex uk-flex-center head-title">
              <h1>Players</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="uk-container uk-container-center alt">
  <ul class="uk-breadcrumb">
    <li><a href="index.html">Home</a>
    </li>
    <li class="uk-active"><span>Players</span>
    </li>
  </ul>
</div>


<div >
  <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
    <div class="tm-main uk-width-medium-1-1 uk-row-first">
      <main id="tm-content" class="tm-content">

        <div class="uk-container uk-container-center tt-gallery-top">
          <div class="uk-grid" data-uk-grid-match="">
            <div class="uk-width-medium-3-10 uk-width-small-1-1 title">Our Players</div>
            <div class="uk-width-medium-7-10 uk-width-small-1-1 text">If any user register with Call Team the user created profile as a players. The player profile up according to the User reviews and ratings  </div>
          </div>
        </div>

        <div class="list-players-wrapper" >
          <div class="uk-sticky-placeholder" >
            <div class="row">
              <div class="col-lg-12">
              <div class="button-group filter-button-group" >
                <div class="uk-container uk-container-center">
                  <div class="row">
                    <div class="col-lg-4">
                  <div class="label-menu">SEARCH OUR PLAYERS</div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <select class="custom-select form-control-border" id="exampleSelectBorder" style="margin-top: 10px">
                          <option>-Select Type-</option>
                          <option>Name</option>
                          <option>Sport</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3" style="margin-top: 10px">
                      <input type="text" class="form-control">
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search" (click)="search()"></i></span>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>

          </div>
          <div class="list-players-wrap" id="boundary">
            <div class="left-player">
              <img src="images/left-player-bg.png" alt="">
            </div>
            <div class="right-player">
              <img src="images/right-player-bg.png" alt="">
            </div>
            <div class="uk-container uk-container-center alt">
              <div class="uk-grid grid1 players-list">
                <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-2 player-item tt_2a195f12da9f3f36da06e6097be7e451" *ngFor="let player of playerList">
                  <div class="player-article">
                    <div class="wrapper">
                      <div class="img-wrap">
                        <div class="player-number">
                                                            <span>
                                                            {{player.age}}
                                                            </span>
                        </div>
                        <div class="bio">
                                                            <span>
                                                            <a (click)="routePlayer(player.id)">bio
                                                            </a>
                                                            </span>
                        </div>
                        <a>
                          <img src="{{player.imagePath}}" class="img-polaroid" alt="Steven Webb" title="Steven Webb">
                        </a>
                      </div>
                      <div class="info">
                        <div class="name">
                          <h3>
                            <a (click)="routePlayer(player.id)">
                             {{player.fullName}}
                            </a>
                          </h3>
                        </div>
                        <div class="position">
                          {{player.city}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
