<div class="preloader" *ngIf="loading">
  <div class="loader"></div>
</div>

<div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
  <div class="uk-container uk-container-center">
    <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

      <div class="uk-width-1-1 uk-row-first">
        <div class="uk-panel">
          <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('/assets/images/dash2.jpg');">
            <img class="uk-invisible" src="../../../assets/images/dash4.jpg" alt="" height="290" width="1920">
            <div class="uk-position-cover uk-flex uk-flex-center head-title">
              <h1 style="color: white">Dashboard</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<br>
<br>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                   src="{{userDetails.imagePath}}"
                   alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{userDetails.fullName}}</h3>

            <p class="text-muted text-center"></p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Total matches played</b> <a class="float-right">13</a>
              </li>
              <li class="list-group-item">
                <b>Total tournaments played</b> <a class="float-right">5</a>
              </li>
              <li class="list-group-item">
                <b>Total matches created</b> <a class="float-right" (click)="save()">6</a>
              </li>
            </ul>

          </div>
        </div>

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">About Me</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Sports</strong>

            <p class="text-muted">

            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

            <p class="text-muted">{{userDetails.address}}, {{userDetails.city}}, {{userDetails.deistic}}</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

            <p class="text-muted">
              {{userDetails.skills}}
            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> About Me</strong>

            <p class="text-muted">{{userDetails.aboutme}}</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" (click)="isMatch()" data-toggle="tab">Matches</a></li>
              <li class="nav-item"><a class="nav-link" (click)="isTournament()" data-toggle="tab">Tournaments</a></li>
              <li class="nav-item"><a class="nav-link" (click)="isSettings()" data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">

              <div id="activity" *ngIf="isMatchSelect">

                <div class="uk-container uk-container-center">
                  <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1 uk-push-1-1">
                      <main id="tm-content" class="tm-content">
                        <div class="match-list-wrap">
                          <div class="match-list-item" *ngFor="let pool of progressPoolList">
                            <div class="date">
                              <span>{{pool.day}}</span>
                              {{pool.month}}
                            </div>
                            <div class="team-name">
                              {{pool.name}}
                            </div>
                            <div class="team-name">
                              {{pool.teamOneName}}
                            </div>
                            <div class="team-score">
                              {{pool.teamOneCount}}
                            </div>
                            <div class="score-separator">:</div>
                            <div class="team-score">
                              {{pool.teamTwoCount}}
                            </div>
                            <div class="team-name">
                              {{pool.teamTwoName}}
                            </div>
                            <div class="logo">
                              <a href="match-single.html">
                                <!--                <img src="images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">-->
                              </a>
                            </div>
                            <div class="location">
                              <address>
                                {{pool.groundName}}, {{pool.groundCity}}               <br><br>
                              </address>
                            </div>


                            <div class="va-view-wrap">

                              <a class="view-article" (click)="cancel(pool)">Cancel</a>
                            </div>
                            <div class="va-view-wrap" style="margin-right: 10px">
                              <a class="view-article" (click)="routeJoin(pool)">View</a>
                            </div>
                          </div>
                        </div>
                      </main>
                    </div>
                  </div>
                </div>

              </div>

              <div id="timeline" *ngIf="isTournamentSelect">
                <div class="uk-container uk-container-center">
                  <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                    <div class="tm-main uk-width-medium-1-1 uk-push-1-1">
                      <main id="tm-content" class="tm-content">
                        <div class="match-list-wrap">
                          <div class="match-list-item" *ngFor="let tournament of tournamentPool">
                            <div class="date">
                              <span>{{tournament.date}}</span>
                              {{tournament.month}}
                            </div>
                            <div class="team-name">
                              {{tournament.name}}
                            </div>
                            <div class="team-name">
                              {{tournament.noOfTeam}} Teams
                            </div>
                            <div class="logo">
                              <a href="match-single.html">
                                <!--                <img src="images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">-->
                              </a>
                            </div>
                            <div class="location">
                              <address>
                                {{tournament.groundName}}, {{tournament.city}}<br><br>
                              </address>
                            </div>
                            <div class="va-view-wrap">
                              <a class="view-article" (click)="cancelTournament(tournament)">Cancel</a>
                            </div>
                            <div class="va-view-wrap" style="margin-right: 10px">
                              <a class="view-article" (click)="routeTournament(tournament)">view</a>
                            </div>

                          </div>
                        </div>
                      </main>
                    </div>
                  </div>
                </div>
              </div>

              <div id="settings" *ngIf="isSettingSelect">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <div class="form-group">
                          <div class="text-center">
                            <img src="{{userDetails.imagePath}}" class="avatar img-circle img-thumbnail" alt="avatar" style="width: 40%">
                            <h6>Upload a different photo...</h6>
                            <input type="file" class="text-center center-block file-upload" (change)="fileChange($event)" accept=".png, .jpg, .jpeg">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label>Full Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="fullName"
                          name="fullName"
                          placeholder="Item Name"
                          [(ngModel)]="userDetails.fullName"
                        />
                        <br>
                        <label>Email</label>
                        <input
                          type="text"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Email"
                          [(ngModel)]="userDetails.email" disabled
                        />

                        <br>
                        <label>Contact Number</label>
                        <input
                          type="text"
                          class="form-control"
                          id="contactNo"
                          name="contactNo"
                          placeholder="Contact Number"
                          [(ngModel)]="userDetails.contactNo"
                        />

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                          <label>Birth Day</label>
                          <div class="input-group date" id="reservationdate" data-target-input="nearest">
                            <input type="date" class="form-control datetimepicker-input" data-target="#reservationdate" name="birthDay" id="birthDay" max='{{tempDate}}' [(ngModel)]="tempDate" />

                          </div>
                        </div>
                    </div>




                  </div>

                  <div class="row">

                    <div class="col-lg-12">
                      <div class="form-group">
                        <div class="select2-purple">
                          <div class="card card-default">
                            <div class="card-header">
                              <h3 class="card-title">Sports</h3>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                              <div class="row">
                                <div class="col-6">
                                  <div class="form-group">
                                    <select class="duallistbox" multiple="multiple" style="width: 100%;height: 150px" (change)="setSport($event)">
                                      <option value="{{value.id}}" *ngFor="let value of sportList">{{value.name}}</option>
                                    </select>
                                  </div>
                                  <!-- /.form-group -->
                                </div>
                                <div class="col-6">
                                  <div class="form-group">
                                    <select class="duallistbox" multiple="multiple" style="width: 100%;height: 150px" (change)="removeSport($event)">
                                      <option value="{{sport.id}}" *ngFor="let sport of tempSportList" >{{sport.name}}</option>
                                    </select>
                                  </div>
                                  <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                              </div>

                              <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                          </div>

                          <!--                          <input-->
                          <!--                            type="text"-->
                          <!--                            class="form-control"-->
                          <!--                            id="sport"-->
                          <!--                            name="name"-->
                          <!--                            placeholder="Ex: Cricket,Football"-->

                          <!--                          />-->
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <div class="select2-purple">
                          <label>Address</label>
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            name="address"
                            placeholder="Address"
                            [(ngModel)]="userDetails.address"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <div class="select2-purple">
                          <label>District</label>
                          <input
                            type="text"
                            class="form-control"
                            id="deistic"
                            name="deistic"
                            placeholder="District"
                            [(ngModel)]="userDetails.deistic"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <div class="select2-purple">
                          <label>City</label>
                          <input
                            type="text"
                            class="form-control"
                            id="City"
                            name="city"
                            placeholder="City"
                            [(ngModel)]="userDetails.city"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <div class="select2-purple">
                          <label>Skills</label>
                          <textarea class="form-control" rows="4" placeholder="Skills ..." id="skills" name="skills" [(ngModel)]="userDetails.skills"></textarea>
                        </div>
                        </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <div class="select2-purple">
                          <label>About me</label>
                          <textarea class="form-control" rows="4" placeholder="About me" id="aboutme" name="aboutme" [(ngModel)]="userDetails.aboutme"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group row" style="float: right">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="button" class="btn btn-danger" (click)="save()">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
