<div class="over-wrap">
<div class="toolbar-wrap">
  <div class="uk-container uk-container-center">
    <div class="tm-toolbar uk-clearfix uk-hidden-small">
      <div class="uk-float-right">
        <div class="uk-panel">
          <div class="social-top">
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-google"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-pinterest"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
            <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-flickr"></span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="tm-menu-box">
  <div style="height: 70px;" class="uk-sticky-placeholder">
    <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
      <div class="uk-container uk-container-center">

        <ul class="uk-navbar-nav uk-hidden-small">
          <a class="tm-logo uk-float-left" href="index.html">
            <img src="./assets/images/logo-img.png" alt="logo" title="logo"> <span>Call<em> Team</em></span>
          </a>
          <li class="uk-parent uk-active" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="index.html">Home</a>
            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
              <div class="uk-grid uk-dropdown-grid">
                <div class="uk-width-1-1">

                  <ul class="uk-nav uk-nav-navbar">

                    <li><a class="yellow-scheme" href="../yellow/index.html">Yellow Color Scheme</a>
                    </li>
                    <li><a class="blue-scheme" href="../blue/index.html">Blue Color Scheme</a>
                    </li>
                    <li><a class="red-scheme" href="../red/index.html">Red Color Scheme</a>
                    </li>
                    <li><a href="offline.html">Offline Page</a>
                    </li>
                    <li><a href="404.html">Error Page</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
<!--          <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="about.html">About</a></li>-->
<!--          <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#">Pages</a>-->
<!--            <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">-->
<!--              <div class="uk-grid uk-dropdown-grid">-->
<!--                <div class="uk-width-1-1">-->
<!--                  <ul class="uk-nav uk-nav-navbar">-->
<!--                    <li><a href="players.html">Players</a>-->
<!--                    </li>-->
<!--                    <li><a href="gallery.html">Gallery</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
          <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="match-list.html" [routerLink]="['matchpool']">Match</a>

          </li>
          <li><a [routerLink]="['viewtournament']">Tournament</a>
          </li>
          <li><a [routerLink]="['stadium']">Stadium</a>
          </li>
          <li><a [routerLink]="['players']">Players</a>
          </li>
          <li><a [routerLink]="['login']" *ngIf="isLogin == false">Login/Registration</a>
          </li>
          <li><a [routerLink]="['dashboard']" *ngIf="isLogin == true">Dashboard</a>
          </li>
          <li><a (click)="logout()" *ngIf="isLogin == true">logout</a>
          </li>
        </ul>
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
      </div>
    </nav>
  </div>

</div>
  <router-outlet></router-outlet>
  <div class="bottom-wrapper">
    <div class="tm-bottom-f-box  ">
      <div class="uk-container uk-container-center">
        <section id="tm-bottom-f" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

          <div class="uk-width-1-1">
            <div class="uk-panel">
              <div class="footer-logo">
                <a href="/"><img src="assets/images/footer-logo-img.png" alt=""><span>CALL</span>TEAM</a>
              </div>
              <div class="footer-socials">
                <div class="social-top">
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-google"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-pinterest"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
                  <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-flickr"></span></a>
                </div>
              </div>
              <div class="clear"></div>

              <p class="footer-about-text">
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="tm-bottom-g-box  ">
      <div class="uk-container uk-container-center">
        <section id="tm-bottom-g" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

          <div class="uk-width-1-1 uk-width-large-1-2">
            <div class="uk-panel">
              <div class="match-list-wrap foot">
                <div id="carusel-7" class="uk-slidenav-position" data-uk-slideshow="{ height : 37, autoplay:true, animation:'scroll' }">
                  <div class="last-match-top">
                    <div class="last-match-title">Last match</div>
                    <div class="footer-slider-btn">
                      <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                      <a href="/" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <ul class="uk-slideshow">
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <div class="team-name">
                            England </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            Amsterdam </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava2.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <div class="team-name">
                            Cambridgehire </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            china </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava3.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava4.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-20)" title="Cambridgehire VS china (2015-11-20)">
                            </a>
                          </div>
                          <div class="team-name">
                            Cambridgehire </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            china </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava5.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-20)" title="Cambridgehire VS china (2015-11-20)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <div class="team-name">
                            England </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            Amsterdam </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li aria-hidden="false">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava2.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <div class="team-name">
                            Cambridgehire </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            china </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava3.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava4.png" class="img-polaroid" alt="King VS china (2015-11-20)" title="King VS china (2015-11-20)">
                            </a>
                          </div>
                          <div class="team-name">
                            King </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            china </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava5.png" class="img-polaroid" alt="King VS china (2015-11-20)" title="King VS china (2015-11-20)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <div class="team-name">
                            England </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            Amsterdam </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava1.png" class="img-polaroid" alt="England VS Amsterdam (2015-11-14)" title="England VS Amsterdam (2015-11-14)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                    <li class="" aria-hidden="true">
                      <div class="match-list-item alt foot">
                        <div class="wrapper">
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava2.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <div class="team-name">
                            Cambridgehire </div>
                          <div class="versus">VS</div>

                          <div class="team-name">
                            china </div>
                          <div class="logo">
                            <a href="match-single.html">
                              <img src="assets/images/team-ava3.png" class="img-polaroid" alt="Cambridgehire VS china (2015-11-29)" title="Cambridgehire VS china (2015-11-29)">
                            </a>
                          </div>
                          <a class="read-more" href="match-single.html">Read More</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>




              </div>
            </div>
          </div>

          <div class="uk-width-1-1 uk-width-large-1-2">
            <div  class="uk-panel">
              <div class="acymailing_module" id="acymailing_module_formAcymailing54111">
                <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing54111">
                  <form id="formAcymailing54111" method="post" name="formAcymailing54111">
                    <div class="acymailing_module_form">
                      <div class="mail-title">Subscribe us</div>
                      <div class="acymailing_introtext"></div>
                      <div class="clear"></div>
                      <div class="space"></div>
                      <table class="acymailing_form">
                        <tbody>
                        <tr>
                          <td class="acyfield_email acy_requiredField">
                                                                <span class="mail-wrap">
								                                    <input id="user_email_formAcymailing54111" onfocus="if(this.value == 'Enter your email') this.value = '';" onblur="if(this.value=='') this.value='Enter your email';" class="inputbox" name="user[email]" style="width:80%" value="Enter your email" title="Enter your email" type="text">
                                                            </span>
                          </td>
                        </tr>
                        <tr>

                          <td class="acysubbuttons">
                                                                <span class="submit-wrap">
                                                                    <span class="submit-wrapper">
                                                                        <input class="button subbutton btn btn-primary" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing54111'); }catch(err){alert('The form could not be submitted '+err);return false;}" type="submit">
                                                                    </span>
                                                                </span>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <footer id="tm-footer" class="tm-footer">


      <div class="uk-panel">
        <div class="uk-container uk-container-center">
          <div class="uk-grid">
            <div class="uk-width-1-1">
              <div class="footer-wrap">
                <div class="foot-menu-wrap">
                  <ul class="nav menu">
                    <li class="item-165"><a href="about.html">About</a>
                    </li>
                    <li class="item-166"><a href="players.html">Players</a>
                    </li>
                    <li class="item-167"><a href="match-list.html">Match</a>
                    </li>
                    <li class="item-168"><a href="results.html">Results</a>
                    </li>
                    <li class="item-169"><a href="news.html">News</a>
                    </li>
                  </ul>
                </div>
                <div class="copyrights">Copyright © 20121 <a href="/">Call Team</a>. All Rights Reserved.</div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
      <ul class="uk-nav uk-nav-offcanvas">
        <li class="uk-parent uk-active"><a href="index.html">Home</a>
          <ul class="uk-nav-sub">
            <li><a class="yellow-scheme" href="../yellow/index.html">Yellow Color Scheme</a>
            </li>
            <li><a class="blue-scheme" href="../blue/index.html">Blue Color Scheme</a>
            </li>
            <li><a class="red-scheme" href="../red/index.html">Red Color Scheme</a>
            </li>
            <li><a href="offline.html">Offline Page</a>
            </li>
            <li><a href="404.html">Error Page</a>
            </li>
          </ul>
        </li>
        <li><a href="about.html">About</a></li>
        <li class="uk-parent"><a href="#">Pages</a>
          <ul class="uk-nav-sub">
            <li><a href="players.html">Players</a>
            </li>
            <li><a href="gallery.html">Gallery</a>
            </li>
          </ul>
        </li>
        <li class="uk-parent"><a href="match-list.html">Match</a>
          <ul class="uk-nav-sub">
            <li><a href="results.html">Results</a>
            </li>
          </ul>
        </li>
        <li><a href="news.html">News</a>
        </li>
        <li><a href="category.html">Shop</a>
        </li>
        <li><a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
